@font-face {
	font-family: "blfont";
	src: url('./blfont.eot');
	src: url('./blfont.eot?#iefix') format('eot'),
		url('./blfont.woff') format('woff'),
		url('./blfont.ttf') format('truetype'),
		url('./blfont.svg#blfont') format('svg');
}

.iconfont:before {
	font-family: "blfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.arrow-back:before {
	content: "\E001";
}

.class:before {
	content: "\E002";
}

.more-v:before {
	content: "\E003";
}

.search:before {
	content: "\E004";
}

.shop-car:before {
	content: "\E005";
}
