@charset 'UTF-8';
@import "mixins";
@import "h5-btn";
.bl-msg {
    padding-top: rem(160);
    text-align: center;
    .bl-btn-mar {
        margin: rem(112) rem(24) 0 rem(24);
    }
    .bl-btn-primary {
        @extend %block-btn-basic;
        font-size: rem(32);
        color: #fff;
        background-color: #2ecc71;
        @include border-radius(rem(8));
        padding: rem(24) rem(8);
        @include box-sizing(border-box);
        @include ellipsis;
    }
    .bl-icon-msg{
    	width: rem(178);
    	height: rem(178);
    }
    .bl-msg-title{
    	font-weight: bold;
    	font-size: rem(32);
    	color: #333;
    	line-height: rem(112);
    }
    .bl-msg-desc{
    	color: #999;
    	font-size: rem(28);
    	line-height: rem(38);
    }
    .msg-blue{
    	color: #2ecc71;
    }
}
