@charset "utf-8";
@import "bourbon/bourbon";
@import "compass";
@import "table-grid/index";
@import "variables";

.blh-slide{
	.slide-img{
		position: relative;
		img{
			height: rem(750);
			width: auto;
		}
		.slide-shadow{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: rem(158);
			background-image: url(#{$imgBaseUrl}/slide-imgbg.png);
		}

	}
}