/* 
	common
 */
 .color-red{
 	color: $red;
 }
 .floor-container{
 	width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
    margin-bottom: rem(20);
    background-color: #fff;
 }
 .bdr{
 	position: relative;
 	@include hairline(right, #e4e4e4);
 }
 .bdb{
 	position: relative;
 	@include hairline(bottom, #e4e4e4);
 }
 .shop-listText{
 	color: $grayDarker;
 	font-size: rem(28);
 	line-height: 1.4;
 	min-height: 2.8em;
 	@include clamp();
 }
 .shop-price{
 	display: table-cell;
 	font-size: rem(28);
 	vertical-align: middle;
 	padding: rem(8) 0;
 }

  /* loading */
 .bl-ctn-loading{
 	@include transition(opacity .5s);
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 99999;
     background: #eee;
     text-align: center;
     font-size: .28rem;
     &.hide{
     	opacity: 0;
     }
     .prompt-loading{
     	position: absolute;
 	    top: 50%;
 	    left: 50%;
 	    @include transform(translate(-50%, -50%));
 	    overflow: visible;
 	    .preloader{
 	    	margin: 0 auto;
 	    }
     }
 }

/* swiper-pagination */
 .swiper-pagination.outline-white{
	.swiper-pagination-bullet{
		border: 1px solid #fff;
		background-color: transparent;
		&-active{
			background-color: #fff;
		}
	}
 }

/* header bar */
.logo-button{
	width: .9rem;
	height: auto;
	margin-left: .05rem;
}
.bar--padding .button{
	padding: 0 .1rem;
	font-size: .42rem;
}
.bar .title.index-title{
	left: 20%;
	right: 20%;
}
.title-input{
	position: relative;
	width: 100%;
	height: .65rem;
	background-image: url(../images/index/search_img.png);
	background-repeat: no-repeat;
	background-size: .3rem auto;
	background-position: left center;
	font-size: 0;
	.input-control{
		width: 100%;
		height: .65rem;
		padding: 0;
		padding-left: 20px;
		text-align: left;
		font-family: "Helvetica";
		font-size: .28rem;
		background-color: transparent;
		outline: 0;
		border: 0;
		color: #333;
		@include box-sizing(border-box);
		&::-webkit-input-placeholder{
			color: #999;
		}
	}
	@include hairline(bottom, #ddd);
	@include box-sizing(border-box);
}

/* adv2 */
.room-2{
	margin: rem(20) 0;
	padding: 0 rem(10);
	background-color: #fff;
	.Cell a{
		display: block;
		padding: 0 rem(10);
	}
}
.room-title{
	padding: rem(12) rem(20);
	a{
		color: $grayDarker;
	}
	h4{
		border-left: 2px solid $red;
		padding-left: rem(10);
		font-size: rem(24);
		color: $grayDarker;
		line-height: normal;
	}
	.more-go{
	    position: absolute;
	    right: rem(20);
	    top: 50%;
	    font-size: rem(24);
	    font-weight: bold;
	    transform: translate3D(0,-50%,0);
	    color: #666;
	    .iconfont:before{
	    	vertical-align: middle;
	    	float: right;
	    }
	}
}
.shop-blod{
	.Cell{
		padding: 0 rem(20);
	}
}

.shop-container {
	width: 100%;
    height: auto;
	.item-scroll{
		text-align: center;
		font-size: rem(28);
		background: #fff;
		width: rem(208);
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
}




