@import "tobe/ext/btn";

$btnSizeClass: (small rem(10) rem(42) rem(24) $smallRadius) (middle rem(24) rem(68) rem(32) $middleRadius) (large rem(28) rem(84) rem(48) $largeRadius);
$btnColorClass: (primary $primary #fff) (pink $pink #fff);
@include btn-size-multi();
@include btn-color-multi($btnColorClass);

.content{
	padding: $hGap $vGap;
}
.box{
	position: relative;
	margin: 0 auto;
	@include hairline(bottom);
	@include hairline(top);
	// @include hairline-color(bottom,red);
	// @include hairline-remove(bootom);
}