@import "tobe/ext/btn";

$btnSizeClass: (small rem(10) rem(42) rem(24)) (middle rem(10) rem(68) rem(32)) (large rem(10) rem(84) rem(48));
$btnColorClass: (primary $primary #fff) (pink $pink #fff);
@include btn-size-multi();
@include btn-color-multi($btnColorClass);

.content{
	padding: $hGap $vGap;
}
.box{
	position: relative;
	margin: 0 auto;
	@include hairline(bottom);
	@include hairline(top);
	.formbtn,.btn,.blockbtn{
		margin: 10px 0;
	}
}