@charset "utf-8";
@import "tobe/base";
@import "tobe/components/bar/bar";
@import "tobe/components/overflow-scroll/overflow-scroll";
@import "tobe/components/nav/nav";
@import "tobe/ext/touchSlide";
@include pic-list();
body{
	background:#e5e5e5;
	&#fresh-list{background:#f6f6f6;}
}
ul,li,ol,dt,dd,dl,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	list-style:none;
}
img{
	border:0;
}
.lazy-box{
@extend %lazy-box;
&.half:after{
	padding-top: 50%;
}
&.banner:after{
	padding-top: 48%;
}
&.banner{
	position:relative;
	.sttimg{width:rem(145);height:rem(50);position:absolute;top:0;left:rem(30);}
}
&.line{background-size: 0.5rem;}
&.line:after{
	padding-top: 10.4%;
}
}
#touchSlide{
 .banner:after{
	padding-top: 48%;
}
}
.bar-header .title img{width:auto;height:rem(86);}
.bar.bar-light{background-color:#fff;}
.bar .button{color:#000;}
.bar .button-share{width:rem(31);background: inline-image("base64/share-icon.png") no-repeat center center;background-size:contain;}
.content{padding-top: rem(88);}

/* touchslide */

.nav-menu{
	padding: rem(20) 0;
	@include display(flex);
	background:#fff;
	.item-menu{
		@include flex(1);
		width: 0;
		text-align: center;
		img{
			width: rem(100);
			height: rem(100);
			border:1px solid #eee;
			border-radius:rem(50);
		}
		.lazy-box{
			background-image: none;
			background-color: transparent;
		}
	}
	.item-p{
		margin-top: rem(8);
		font-size: rem(24);
		padding: 0 rem(5);
		color: $grayDarker;
		@include ellipsis();
	}
}
.swiper-container .swiper-adv{
	position:absolute;
	top:0;
	left:rem(30);
	img{width:auto;height:rem(50);}
	}
.fresh-title{
	width:100%;
	height:rem(94);
	background:#fff;
	text-align:center;
	margin-top:rem(20);
	img{
		width:auto;
		max-width:100%;
		height:rem(94);
	}
}
.ovfs-sp{
	padding:rem(20) 0 rem(30) 0;
.ovfs-item{
	width:rem(260);
	border-right:0 none;
	margin-right:rem(20);
	&:first-child{
		margin-left:rem(20);
	}
	.ovfs-name{
		color:$grayDarker;
		font-size:rem(24);
		line-height:rem(30);
		@include ellipsis();
	}
  .ovfs-money{text-align:left;color:$grayDarker;}
  .ovfs-money-sp{
		width:rem(110);
		height:rem(78);
		background:url("i/fresh-price.png") no-repeat;
		background-size:contain;
		position:absolute;
		top:0;
		left:0;
		padding-left:rem(10);
		line-height:rem(48);
		color:#fff;
		font-size:rem(28);
		@include ellipsis();
	}
}

.more{
	display: inline-block;
	width:rem(110);
	background:#f5f3f4;
	img{width:rem(110);}
	margin-right:rem(20);
}
}
.class-scroll{position:relative;@include hairline(bottom, #ccc);}
.ovfs-special{
	position:relative;
	font-size:0;
	
	
	li{
		padding:rem(26);
	  width: rem(162);
    display: inline-block;
		position: relative;
		vertical-align: top;
		img{
			width: rem(110);
			height: rem(110);
			border:1px solid #eee;
			border-radius:rem(60);
		}
		.txt{
		  margin-top: rem(8);
		  font-size: rem(24);
		  padding: 0 rem(5);
		  color: $grayDarker;
		  @include ellipsis();
		  text-align:center;
	  }
		
  }
  .through-line{
  	width:rem(110);
  	height:rem(4);
  	background:#40d4b3;
  	position:absolute;
  	bottom:rem(1);
  	left:0;
  	margin-left:rem(26);
  }
}
.ovfs-line-box{width:100%;height:rem(93);margin-top:rem(20);}

.ovfs-line{
	top:$bar-height;
	left:0;
	z-index:2;
	background:#fff;
		.ovfs-item{
			width: auto;
			padding: rem(24) rem(12) rem(24) rem(12);
			margin-left: rem(20);
			border-right: 0;
			font-size: rem(30);
			position: relative;
			&:last-child{
				margin-right: rem(20);
			}
			&.active{
				color: $grayDarker;
				font-weight: bold;
			}
			&.active:after{
				content: '';
				position: absolute;
				width: 100%;
				height: rem(6);
				background-color: #40d4b3;
				bottom: 0;
				left: 0;
			}
		}
	}

.j-ovfs-line{
	display:none;
}
.pic-list{
	padding:rem(20);
	background:#f6f6f6;
	.cwrap-name{color:$graylikver;font-size:rem(26);padding:0 rem(20);height:rem(86);line-height:rem(40);overflow:hidden;}
	.cwrap-price-line{
	background-color: #ffffff;
	padding: 0 0.24rem 0.16rem 0.24rem;
	color: #333333;
	font-size: rem(28);
	ul{
		display:none;
		&.show{display:block;}
	}
	.cwrap-price{
		width:rem(130);
		background:#40d4b3;
		color:#fff;
		padding-left:rem(10);
		.small-rmb{font-size: rem(22);}
	}
	.card-shop{
		width:rem(58);
		height:rem(42);
		float:right;
		background: inline-image("base64/fresh-cart.png") no-repeat center center;
		background-size:contain;
		em{height:rem(28);line-height:rem(28);padding:0 rem(10);border-radius:rem(24);float:right;background:#40d4b3;font-size:rem(24);color:#fff;font-style:normal;margin:rem(-10) rem(-14) 0 0;}
	}
  }
}
.arrive-bottom{width:100%;text-align:center;color:#bbb;margin-bottom:rem(10);}
.gotop{
	@extend %gotop;
	bottom:rem(110);
}
.gocart{
	width:rem(74);
	height:rem(74);
	background: inline-image("base64/gocart.png") no-repeat center center;
	position:fixed;
	bottom:rem(20);
	right:rem(20);
	background-size:contain;
}
.fresh-list-title{width:100%;height:rem(84);line-height:rem(54);margin-top:rem(20);padding-top:rem(30);background:#fff;font-size:rem(36);color:#333;text-align:center;float:left;}
.fresh-list{
	width:100%;
	height:auto;
	padding:0 rem(25) rem(24) rem(25);
	background:#fff;
	float:left;
  li{
  	width:25%;
  	display:inline-block;
  	text-align:center;
  	float:left;
  	img{
			width: rem(120);
			height: rem(120);
			border:1px solid #eee;
			border-radius:rem(60);
		}
		.txt{
		  margin-top: rem(8);
		  font-size: rem(24);
		  padding: 0 rem(5);
		  color: $grayDarker;
		  @include ellipsis();
		  text-align:center;
	  }
	}
}
