@charset "utf-8";

/* -------------------------------------------------
 * base 样式
 * -------------------------------------------------
*/
@import "tobe/base";

/* -------------------------------------------------
 * components 样式
 * -------------------------------------------------
*/
@import "tobe/components/preloader";
@import "tobe/components/bar2";

/* -------------------------------------------------
 * iconfont 样式
 * -------------------------------------------------
*/
@import "icon";

/* -------------------------------------------------
 * main 样式
 * -------------------------------------------------
*/
@import "buy";
@import "testBtn";

/*百联通自动绑卡-登录*/
.h5-card-on{
	.login-logo {
	    height: 5*1.25rem;
	    text-align: center;
	    background: #78112c url(../../images/new_store/t-card-bg.png) no-repeat right center;
	    width: 100%;
	    background-size: auto 6.65*1.25rem;
	}

	.login-bg {
	    background-position: center center;
	    background-repeat: no-repeat;
	    border-radius: 2.175*1.25rem;
	    display: inline-block;
	    padding: 0.3*1.25rem 0.4*1.25rem 0;
	}

	.card-logo {
	    width: 2.825*1.25rem;
	    height: 2.825*1.25rem;
	    background: #c98c90;
	    border-radius: 50%;
	    float: right;
	    line-height: 2.825*1.25rem;
	}

	.card-logo img {
	    width: 1.9*1.25rem;
	    height: 1.25*1.25rem;
	    margin-top: -0.5*1.25rem;
	}

	.logo-top-bg {
	    width: 2.525*1.25rem;
	    height: 2.525*1.25rem;
	    background: #fff;
	    border-radius: 50%;
	    margin: .15*1.25rem auto 0;
	}

	.card-phone {
	    float: left;
	    padding-left: .5*1.25rem;
	    width: 3.5*1.25rem;
	    font-size: .7*1.25rem;
	    line-height: 2.5*1.25rem;
	}

	.logo-bot-font {
	    font-size: .9*1.25rem;
	    line-height: 1.5*1.25rem;
	    color: #fff;
	}

	.login-content .item {
	    height: 2.5*1.25rem;
	    line-height: 2.5*1.25rem;
	    border-top: .05*1.25rem solid #d6d6d6;
	    background: #fff;
	    overflow: hidden;
	}

	.login-content .item-1 {
	    height: 2.5*1.25rem;
	    line-height: 2.5*1.25rem;
	    border-bottom: .05*1.25rem solid #d6d6d6;
	    margin-bottom: .5*1.25rem;
	}

	.p-input input {
	    width: 100%;
	    border: none;
	    color: #393a3a;
	    padding: 0.5*1.25rem 0;
	    outline: none;
	    font-size: .7*1.25rem;
	}

	.p-input {
	    float: left;
	    width: 41%;
	    padding-left: .5*1.25rem;
	    line-height: 2.5*1.25rem;
	}

	.item-phone-right button {
	    height: 2.5*1.25rem;
	    margin-top: -.2*1.25rem;
	    width: 5.925*1.25rem;
	    background: #e1e1e1;
	    outline: none;
	    border: 0;
	    border-left: .05*1.25rem solid #d6d6d6;
	}

	.item-2 {
	    border-top: .05*1.25rem solid #d6d6d6;
	    margin-bottom: 1*1.25rem !important;
	}

	.login-button {
	    height: 2.2*1.25rem;
	    line-height: 2.2*1.25rem;
	    text-align: center;
	    border-radius: .2*1.25rem;
	    font-size: .9*1.25rem;
	    border: 0;
	    width: 100%;
	    background: #e4e2df;
	    color: #adadad;
	    outline: none;
	    margin: .2*1.25rem 0 1*1.25rem 0;
	}

	.pass-text {
	    height: 1*1.25rem;
	    line-height: 1*1.25rem;
	    color: #696969;
	    padding: 0 .5*1.25rem;
	    font-size: .5*1.25rem;
	}

	.pass-text span {
	    text-decoration: underline;
	}

	.pass-text-fl {
	    float: left;
	    font-size: .6*1.25rem;
	}

	.pass-text-fr {
	    float: right;
	    font-size: .6*1.25rem;
	}

	.pass-text a:link,
	.pass-text a:visited {
	    color: #696969;
	}

	.pr-2rem {
	    padding-right: 2*1.25rem;
	}

	.addbg {
	    background: #ec002b;
	    color: #fff;
	}

	.login-content .item-1 button.display-text {
	    background-position: center -2.15*1.25rem;
	}

	.btnval {
	    padding: 0 .5*1.25rem;
	}

	.item-phone-right {
	    float: right;
	}

	.item-code img {
	    float: right;
	    width: 5.925*1.25rem;
	    height: 2.5*1.25rem;
	    background-size: 5.925*1.25rem;
	    margin-top: -.05*1.25rem;
	}

	.item-code {
	    float: right;
	    width: 5.925*1.25rem;
	}

	.scan img {
	    float: right;
	    width: 3.025*1.25rem;
	    height: 2.5*1.25rem;
	    background-size: 3.025*1.25rem;
	    margin-top: -.05*1.25rem;
	}

	.scan {
	    float: right;
	    width: 5.925*1.25rem;
	}

	.card-fonts {
	    padding: .5*1.25rem 0;
	}

	.fonts {
	    font-size: .6*1.25rem;
	    padding-left: .5*1.25rem;
	    line-height: 1*1.25rem;
	    color: #333333;
	}

	.fonts span {
	    color: #00a4e3;
	    text-decoration: underline;
	}
	.item .item-phone-right .bn-bg {
	    background: #eff9ff;
	    color: #666666;
	    height: 3rem;
	}
}


/*百联通自动绑卡-绑卡成功*/

.h5-card-success{
	.binding-page {
	    text-align: center;
	    line-height: 3.3125rem;
	    padding-top: 1.25rem;
	}

	.binding-page img {
	    width: 2.95;
	    height: 3.6875rem;
	}

	.cg {
	    font-size: 1.625rem;
	    color: #333333;
	    line-height: 1.875rem;
	    text-align: center;
	    padding-top: 1rem;
	}

	.complete {
	    font-size: 1.125rem;
	    text-align: center;
	    padding: 1rem 0 1.875rem 0;
	    line-height: 1.125rem;
	}

	.item-btns {
	    text-align: center;
	}

	.item-btns .addbg2 {
	    background: #e90636;
	    color: #fff;
	}

	.item-btns .btn-login,
	.item-btns .btn-next {
	    border-radius: 0.25rem;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 1.125rem;
	    height: 2.75rem;
	    line-height: 2.75rem;
	    text-align: center;
	    text-decoration: none;
	    padding: 0 0.625rem;
	}
	.ptb5 {
	    padding: 0 0.625rem;
	}
}
.f7f7f7-bg {
	    background-color: #f7f7f7;
	}