@charset "utf-8";
$bodyBgColor: #f8f8f8;
$modalButonColor:   #e6133c;
@import "tobe/base";
@import "tobe/components/flex/flex";
@import "tobe/components/bar/bar";
@import "tobe/components/nav-menu/nav-menu";
@import "tobe/components/list-between/list-between";
@import "tobe/components/modal/modal";
@import "tobe/ext/picker";
.wrap{
	position: relative;
	width: 100%;
	height: 100%;
}
.modal{
	overflow: hidden;
}
.picker-items{
	height: 3.6rem!important;
}
.modal-title{
	padding-top: rem(20);
}
.picker-center-highlight{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;

	&:before,&:after{
		content: none;
	}
}
.a-tel{
	color: #007aff;
	text-decoration: underline;
	font-weight: bold;
}
.mask{
	@include mask(.6,10001);
}
.icon-down{
	background: inline-image("base64/tcari-down.png") no-repeat right center;
	background-size: rem(22) auto;
	padding-right: rem(30);
}
.arrow-right{
	@extend %arrow-right;
	background-size: rem(14) auto;
	color: #999999;
}
.total-modal{
	@extend %total-modal;
}
.font-bod{
	font-weight: bold;
}
.picker-modal,.modal{
	position: fixed;
}
.bar-header{
	position: relative;
}
.content {
	// position: absolute;
	// z-index: 100;
	// left: 0;
	// right: 0;
	// bottom: 0;
 //    width: 100%;
    // padding-top: $bar-height;
    // overflow-y: scroll;
}
.parkinfo:after{
	content: '';
	width: rem(40);
	height: rem(40);
	background: inline-image("base64/tcar-info.png") no-repeat center center;
	background-size: contain;
}

.nav-menu{
	padding: rem(30) 0 rem(34) 0;
	background-color: #ffffff;
	.item-p{
		color: #222222;
		margin-top: rem(18);
	}

	.item-imgd{
		width: rem(100);
		height: rem(100);
		background-color: #cccccc;
		margin: 0 auto;
		@extend %comm-flex;
		@include justify-content(center);
		border-radius: 50%;
		&.color1{
			background-color: #f7c13b;
		}
		&.color2{
			background-color: #f17252;
		}
		&.color3{
			background-color: #21e293;
		}
		&.color4{
			background-color: #56adf0;
		}
		&.disabled{
			background-color: #cccccc;
		}
	}
	.item-menu img{
		width: rem(48);
		height: auto;
	}
}

// plate
.platei-close{
	width: rem(88);
	height: rem(88);
	background: inline-image("base64/tcari-close.png") no-repeat center center;
	background-size: rem(37) rem(30);
}
.plate-el{
	margin-top: rem(20);
	@extend %comm-flex;
	height: rem(100);
	background-color: #ffffff;
	color: #222222;
	.plate-left{
		.plate-fir{
			width: rem(80);
			height: rem(88);
			border: none;
		}
		@extend %comm-flex;
		@include flex(1);
		height: 100%;
		.plate-input{
			@include flex(1);
			padding-left: rem(22);
			position: relative;
			input{
				width: 100%;
				height: rem(88);
				font-size: rem(28);
				color: #333333;
				padding: 0;
				margin: 0;
				border: none;
				letter-spacing: rem(18);
				&::-webkit-input-placeholder{
					letter-spacing: normal;
					color: #cccccc;
				}
			}
			.platei-close{
				position: absolute;
				z-index: 2;
				right: 0;
				top: 50%;
				@include transform(translate(0, -50%));
				display: none;
			}
		}
		.plate-word{
			padding: 0 rem(20);
		}
	}
	.plate-btn{
		width: rem(160);
		height: 100%;
		background-color: #cccccc;
		font-size: rem(28);
		color: #ffffff;
		a{
			color: #ffffff;
		}
		text-align: center;
		@extend %comm-flex;
		@include justify-content(center);
		&.on{
			background-color: #e6133c;
		}
	}
}

.park-box{
	overflow: hidden;
	padding: rem(22) rem(22) 0;
	&:last-child{
		padding-bottom: rem(22);
	}
	.park-inner{
		border: 1px solid #e8e8e8;
		border-radius: 5px;
		background-color: #ffffff;
		overflow: hidden;
	}
	.park-inner-title{
		height: rem(68);
		@include hair(bottom, #e7e7e7);
		background-origin: padding-box;
		@extend %comm-flex;
		@extend %grid-between;
		font-size: rem(28);
		color: #222222;
		padding: 0 rem(18);
		.tcar-ear{
			background: inline-image("base64/tcari-ear.jpg") no-repeat left center;
			background-size: auto rem(36);
			padding-left: rem(50);
			@extend %comm-flex;
			height: 100%;
			line-height: 1;
		}
		.parkinner-right{
			@include transform(rotate(180deg));
			color: #999999;
		}
		.tcar-ear{

		}
	}
	.park-inner-main{
		@extend %comm-flex;
		background-color: #ffffff;
		height: rem(184);
	}
	.park-main-left{
		padding: rem(38) rem(28);
		color: #333333;
		font-size: rem(28);
		font-weight: bold;
		@include flex(1);
		border-right: 1px solid #e8e8e8;
		height: 100%;
		p{
			font-size: rem(28);
			color: #333333;
		}
		.find-parke{
			color: #56adf0;
			margin-left: rem(18);
		}
		.park-time{
			color: #999999;
			font-size: rem(28);
			.time-span{
				font-size: rem(44);
				color: #333333;
				margin: 0 rem(6);
			}
		}
	}
	.park-main-right{
		width: rem(210);
		// @include hair(left, #e8e8e8);
		// background-origin: padding-box;
		padding: rem(38) rem(30);
		text-align: center;
		font-weight: bold;
		p{
			font-size: rem(24);
			line-height: 1;
		}
		.park-paybtn{
			font-size: rem(28);
			color: #ffffff;
			background-color: #e6133c;
			padding: rem(8);
			border-radius: 2px;
			text-align: center;
			margin-top: rem(16);
			a{
				width: 100%;
				height: 100%;
				color: #ffffff;
			}
			.tcari-pay{
				background: inline-image("base64/tcari-pay.png") no-repeat left center;
				background-size: auto rem(30);
				padding-left: rem(42);
			}
		}
	}
	.input-info,.go-login{
		text-align: center;
	}
	.input-info{
		font-size: rem(32);
		color: #999999;
		font-weight: bold;
		margin-top: rem(50);
		margin-bottom: rem(30);
	}
	.park-loginbtn{
		font-size: rem(24);
		background-color: #e6133c;
		color: #ffffff;
		border-radius: 2px;
		padding: rem(14) rem(18);
		display: inline-block;
		margin-bottom: rem(50);
	}
}

.tcar-list{
	margin: rem(38) 0;
}

.red-color{
	color: #e6133c!important;
}
.park-info{
	font-size: rem(24);
	color: #333333;
	line-height: 1.2;
	text-align: center;
	margin-top: rem(24);
	.grayinfo{
		font-size: rem(24);
		color: #999999;
	}
}
.no-park{
	@extend %comm-flex;
	@include justify-content(center);
	height: 100%;
}
.comm-flex{
	@extend %comm-flex;
	text-align: center;
	.parkorder-text{
		font-size: rem(28);
		color: #666666;
		margin: rem(18) 0 0 0;
		line-height: 1.4;
	}
	.park-niceinfo{
		font-size: rem(24);
		color: #999999;
		.or-color{
			color: #fe5956;
		}
	}
}
.park-orderbox{
	@include flex(.4);
	.parkorder-img{
		width: rem(110);
		height: rem(110);
		margin: 0 auto;
		text-align: center;
	}
	border-right: 1px solid #e7e7e7;
	.parko-top{
		border-bottom: 1px solid #e7e7e7;
		padding: rem(20) 0;
		display: block;
	}
	.parko-bottom{
		padding: rem(20) 0;
		display: block;
	}
}
.park-search{
	@include flex(.6);
	.parkorder-img{
		width: rem(320);
		height: rem(320);
		margin: 0 auto;
		text-align: center;
	}
}

.blue-btn{
	.modal-button{
		color: #007aff;
	}
}


/* 停车点券 */
 @charset "utf-8";

 #touchSlide{
 	position: relative;
 	width: 100%;
 }
 .swiper-slide{
 	position: relative;
 	width: 100%;
 	// border-radius: 5px;
 	overflow: hidden;
 	& + &{
 		display: none;
 	}
 	a{
 		display: block;
 		position: relative;
		background-color: #ffffff;
 		&:after{
	 		padding-top: 100%;
	 		content: '';
	 		display: block;
	 	}
 	}
 	a img{
 		display: block;
 		position: absolute;
 		left: 50%;
 		top: 50%;
 		@include transform(translate3d(-50%, -50%, 0)!important);
 		width: 100%;
 		font-size: 0;
 		border-radius: 0 0 5px 5px;
 	}
 }
 .swiper-pagination{
 	position: absolute;
 	bottom: rem(16);
 	left: 50%;
 	@include transform(translate3d(-50%, 0, 0));
 	li {
 	    display: inline-block;
 	    width: 8px;
 	    height: 8px;
 	    @include border-radius(20px);
 	    text-indent: -9999px;
 	    overflow: hidden;
 	    margin: 0 rem(8);
 	    border: 1px solid #fff;
 	    background-color: transparent;
 	    &.on{
 	    	background:#fff;
 	    }
 	}
 	&.pagination-green{
 		li{
 			background-color: #ddd;
 			border: 0;
 			&.on{
 				background-color: $green;
 			}
 		}
 	}

}
.lazy-box{
	@extend %lazy-box;
}

.f-modal{
	width: rem(315*2);
	// height: rem(415*2);
	// background-color: #ffffff;
	// overflow: hidden;
	position: fixed;
	z-index: 11000;
	left: 50%;
	margin-left: rem(-315);
	margin-top: 0;
	top: 50%;
	text-align: center;
	border-radius: 5px;
	transform: translate3d(0,-50%,0)!important;
	display: none;
	.f-modal-close{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
		@include transform(translate(0, -100%));
		width: rem(35*2);
		height: rem(50*2);
		background-image: url("i/close.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
	.f-modal-top{
		background: #FFFFFF;
		// border-radius: 5px 5px 0 0;
		padding: rem(30);
		height: rem(200);
		.f-modal-title{
			font-size: rem(32);
			color: #2A2A2A;
		}
		.f-modal-text{
			font-size: rem(28);
			color: #999999;
			height: rem(84);
			@extend %comm-flex;
			@include justify-content(center);
			margin-top: rem(12);
		}
	}
}
.swiper-pagination{
	bottom: rem(-52);
	ul{
		line-height: 1;
	}
}
.swiper-pagination li{
	background-color: #cccccc;
	border: none;
	&.on{
		background-color: #FAEF02;
	}
}
#touchSlide{
	overflow: inherit;
	// background-color: #ffffff;
}
.main-body{
	height: 100%;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  &.filter{
  	-webkit-filter: blur(4px);
  	-moz-filter: blur(4px);
  	filter: blur(4px);
  }
}
.raidus-no{
	width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 10000;
}
.j-f-modal .f-modal-inner{
	// background-color: #FF1A22;
	// border-radius: 5px;
	// overflow: hidden;
	position: relative;
	text-align: center;
	// padding: rem(11*2) rem(15*2) rem(20*2);
	color: #ffffff;
	.swiper-wrapper .f-modal-inner{
		background-color: #FF1A22;
		overflow: hidden;
		position: absolute;
		min-height: 100%;
		width: 100%;
		padding: rem(11*2) rem(15*2) rem(20*2);
	}
	.f-word{
		margin-top: rem(-56);
	}
	.f-logo{
		position: absolute;
		left: rem(20);
		top: rem(20);
		z-index: 2;
		background: url("i/logo.png") no-repeat;
		background-size: contain;
		width: rem(37*2);
		height: rem(32);
	}
	.coupon-box{
		position: relative;
		padding: rem(8) 5px 0;
		margin-top: rem(28);
		.coupon-center{
			background: #FFEDB2;
			box-shadow: inset 0px 4px 0px 0px rgba(255,0,0,0.04);
			position: relative;
			background-image: url("i/bolang.png");
			background-position: left bottom;
			background-size: contain;
			background-repeat: no-repeat;
			padding: rem(30) rem(18);
		}
		.coupon-top{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: rem(16);
			background-color: #D10000;
			border-radius: 5px;
		}
		.coupon-inner-text{
			font-size: rem(24);
			color: #666666;
		}
		.coupon-ul{
			max-height: rem(174*2);
			overflow-y: auto;
			> li{
				width: 100%;
				height: rem(100);
				margin-top: rem(24);

				position: relative;
				.coupin-li-inner{
					position: absolute;
					left: 0;
					top: 0;
					height: 200%;
					width: 200%;
					@include transform(scale(.5));
					transform-origin: left top;
					@extend %comm-flex;
					background-image: url("i/coulon-bg.png");
					background-repeat: no-repeat;
					background-position: left top;
					background-size: 100% 100%;
					.coupon-point,.coupon-detail{
						// width: 26.4%
						@include flex(.264);
						height: 100%;
						@extend %comm-flex;
						@include justify-content(center);
						font-size: rem(24*2);
						color: #999999;
					}
					.coupon-point{
						color: #666666;
						.coupon-word{
							@include align-items(baseline);
							line-height: 1;
						}
						strong{
							font-size: rem(60*2);
							color: #FF5055;
							font-family: Arial-BoldMT;
							line-height: 1;
						}
					}
					.coupon-detail{
						// width: 73.6%;
						@include flex(.736);
						& > ul li{
							&:before{
								content: '';
								width: 6px;
								height: 6px;
								background-color: #D8D8D8;
								border-radius: 50%;
								display: inline-block;
								vertical-align: middle;
								margin-right: rem(24);
							}
						}
					}
					.c-detail-item{
						text-align: left;
						font-size: rem(24*2);
						color: #999999;
						span{
							color: #333333;
						}
					}
				}
			}
		}
	}
}


