@charset "utf-8";
@import "tobe/base";
@import "tobe/components/bar/bar";
.content {
    position: relative;
    padding-top: rem(88);
}

.bar-right {
    .button {
        font-size: rem(28);
    }
}
#paysuc {
    background-color: #f4f4f4;
    .Payment-success {
        height: rem(300);
        background-color: #F13149;
        .le-fonts {
            float: left;
            color: #ffffff;
            padding: rem(96) 0 0 rem(96);
            .font-1 {
                font-size: rem(48);
            }
            .font-2 {
                font-size: rem(24);
            }
        }
        .ri-img {
            float: right;
            padding: rem(56) rem(62) 0 0;
            img {
                width: rem(281);
                height: rem(219);
            }
        }
    }
    .margin-config {
        margin-bottom: rem(20);
    }
    .success-container {
        padding: 0 rem(105);
        background: #FFFFFF;
        .head {
            height: rem(176);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            color: #E6133C;
            font-size: rem(48);
            border-bottom: 1px solid #E7E7E7;
        }
        .amount {
            font-size: rem(36);
            text-align: center;
            padding-top: rem(50);
            span {
                font-size: rem(24);
            }
        }
        .button-box {
            padding: rem(40) 0;
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            a {
                font-size: rem(32);
            }
            .left-button {
                height: rem(74);
                line-height: rem(74);
                width: rem(260);
                text-align: center;
                border: 1px solid #E7E7E7;
                border-radius: rem(10);
            }
            .right-button {
                height: rem(74);
                line-height: rem(74);
                width: rem(260);
                text-align: center;
                border: 1px solid #E7E7E7;
                border-radius: rem(10);
            }
        }
    }
    #swipe-source {
        overflow: hidden;
        position: relative;
        .swiper-pagination {
            position: absolute;
            bottom: rem(8);
            left: 50%;
            margin-left: rem(-25);
            ul {
                line-height: 1;
            }
            li {
                display: inline-block;
                width: rem(12);
                height: rem(12);
                @include border-radius(100%);
                text-indent: -9999px;
                overflow: hidden;
                margin: 0 rem(6);
                border: 1px solid #FFFFFF;
                background: #FFFFFF;
                &.on {
                    background: #E71740;
                    border: 1px solid #E71740;
                }
            }
        }
    }
    .recommend {
        height: rem(80);
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        .recommend-name {
            height: rem(40);
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(center);
            margin: 0 auto;
        }
        .recommend-logo {
            width: rem(30);
            height: rem(30);
            background: url("i/pull-icon@2x.png") center bottom no-repeat;
            background-size: 100%;
            margin-right: rem(8);
        }
    }
    .title-todynew {
        height: rem(88);
        background: #f4f4f4;
        padding: 0 rem(123);
        div {
            border-bottom: 1px solid #D3D3D3;
            height: rem(44);
            text-align: center;
            span {
                line-height: rem(88);
                text-align: center;
                background: #f4f4f4;
                padding: 0 rem(40);
                font-size: rem(28);
                color: #999999;
            }
        }
    }
    .list {
        overflow: hidden;
        padding: 0 rem(10);
        ul {
            margin-right: rem(-10);
        }
        li {
            width: 50%;
            padding-right: rem(10);
            float: left;
            margin-bottom: rem(10);
        }
        .list-container {
            background: #FFFFFF;
            overflow: hidden;
            padding-bottom: rem(20);
        }
        .list-image {
            margin: 0 rem(8);
            position: relative;
            margin-bottom: rem(10);
            a {
                width: 100%;
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate3d(-50%, -50%, 0));
            }
        }
        .list-image:after {
            content: "";
            display: block;
            padding-top: 100%;
        }
        .list-name {
            margin: 0 rem(28);
            font-size: rem(24);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.375;
            margin-bottom: rem(10);
        }
        .list-num {
            margin: 0 rem(28);
            font-size: rem(24);
            padding-left: rem(14);
            border-left: 2px solid #FF355C;
            color: #999999;
            line-height: 1;
            margin-bottom: rem(10);
        }
        .list-button {
            margin: 0 rem(18);
            height: rem(50);
            line-height: rem(50);
            color: #FFFFFF;
            background: #FF355C;
            font-size: rem(32);
            text-align: center;
        }
        .two-line {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: initial;
        }
        .red-num {
            margin: 0 rem(28);
            font-size: rem(28);
            color: #E6133C;
            line-height: rem(40);
            height: rem(40);
        }
        .list-money {
            margin: 0 rem(28);
            font-size: rem(28);
            color: #E6133C;
            height: rem(40);
            line-height: rem(40);
            span {
                font-size: rem(24);
            }
            label {
                font-size: rem(24);
                color: #999999;
                margin-left: rem(20);
                text-decoration: line-through;
            }
        }
    }
    .top-margin-fix {
        margin-top: rem(-10);
    }
    .end {
        padding: 0 rem(268);
    }
}
