@charset "utf-8";//cp
@import "tobe/base";
@import "tobe/ext/comm";
@import "tobe/ext/touchSlide";

@import "tobe/components/bar/bar";

.gotop{
	@extend %gotop;
}
.bar-header .button.bor-radius{
	@extend %button.bor-radius;
}
.bar-header .button.bor-radius .iconfont{
	@extend %button.bor-radius;
}

.bar-header .arrow-back{
	font-size: rem(36);
}
.bar-header .title.hide{
	opacity: 0;
}
.product-detail {
	text-align: center;
	background-color: #fff;
	&.product-end:after{
		content: '- END -';
		height: rem(100);
		line-height: rem(100);
		color: #bbb;
	}
}
.product-detail-name{
	text-align: center;
	padding: rem(44) 0;
	h2{
		font-size: .36rem;
		color: #333;
		font-weight: bold;
	}
	p{
		color: #999;
		font-size: rem(28);
		margin-top: rem(8);
	}
}