/**/

.store-img {
    position: relative;
    overflow: hidden;
}

.store-img img {
    width: 100%;
}

.store-img-font {
    position: absolute;
    left: 0.625 * 1.25rem;
    bottom: 0.625 * 1.25rem;
    line-height: 1.5 * 1.25rem;
}

.store-img-fontname {
    font-size: 1 * 1.25rem;
    color: #f4d621;
}

.store-img-time {
    color: #fff;
}

.store-img-icon {
    position: absolute;
    right: 0.625 * 1.25rem;
    bottom: 1.875 * 1.25rem;
    color: #e6133c;
    font-size: 1.125 * 1.25rem;
}

.store-img-icon b,
.store-img-dis span {
    display: none;
}

.store-img-dis b {
    display: block;
}

.store-main {
    background: #fff;
}

.store-main ul li {
    box-sizing: content-box;
    border-bottom: 0.0625 * 1.25rem solid #e5e5e5;
}

.store-main ul li:after {
    display: block;
    content: " ";
    height: 0;
    clear: both;
    visibility: hidden;
}

.store-item {
    padding: 0 * 1.25rem 0.625 * 1.25rem;
}

.store-fl-icon {
    float: left;
    width: 0.875 * 1.25rem;
    line-height: 2.25 * 1.25rem;
    box-sizing: content-box;
    font-size: 0px;
}

.store-fl-icon img {
    width: 100%;
    vertical-align: middle;
}

.store-fr-icon {
    font-family: "iconfont";
    float: right;
    line-height: 2.25 * 1.25rem;
    color: #b8b8b8;
}

.store-item-font {
    line-height: 2.25 * 1.25rem;
    padding: 0 * 1.25rem 1.5 * 1.25rem;
    font-size: 0.75 * 1.25rem;
    color: #333;
}

.dl-icon dd {
    float: left;
    width: 25%;
    text-align: center;
    padding: 1.25 * 1.25rem 0 * 1.25rem;
}

.dl-icon dd img {
    width: 1.5 * 1.25rem;
}

.dl-icon dd .font {
    line-height: 1.875 * 1.25rem;
    color: #333333;
    font-size: 0.75 * 1.25rem;
}

li.service {
    background: #f9f9f9;
}

.dl-service dd {
    float: left;
    line-height: 2.25rem;
    height: 2.25rem;
    margin-right: 1.25rem;
}

.dl-service dd i {
    float: left;
    line-height: 2.25rem;
    font-size: 0px;
    margin-right: 0.25rem;
    display: inline-block;
    width: 0.75rem;
}

.dl-service dd i img {
    width: 100%;
    vertical-align: middle;
}

.dl-service dd span {
    color: #333333;
}

.stroll-title {
    height: 2.125 * 1.25rem;
    line-height: 2.125 * 1.25rem;
    font-size: 0.875 * 1.25rem;
    color: #333;
    margin-top: 0.625 * 1.25rem;
}

.strollstore-ul {
    padding: 0 * 1.25rem 0.625 * 1.25rem;
}

.fl {
    float: left;
}

.stroll-title .fl i {
    width: 0.125 * 1.25rem;
    height: 0.8125 * 1.25rem;
    display: inline-block;
    float: left;
    background: #e6133c;
    margin-right: 0.5 * 1.25rem;
    margin-top: 0.625 * 1.25rem;
}

.mone {
    float: right;
    font-size: 0.75 * 1.25rem;
    color: #e6133c;
}

.mone a:link,
.mone a:visited {
    color: #e6133c;
    line-height: 2.125 * 1.25rem;
}

.ov-ul ul {
    margin-top: -0.625 * 1.25rem;
}

.ov-ul li {
    margin-top: 0.625 * 1.25rem;
}

.ov-ul li img {
    width: 100%;
}

.coupon-ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.coupon-ul li {
    padding: 0;
    list-style: none;
    margin: 0;
    background: #fff;
    margin-top: .625 * 1.25rem;
    position: relative;
}


/**/

.coupon-ul li.red-1 .title-right {
    height: 3.5 * 1.25rem;
    padding-left: .625 * 1.25rem;
    background: url(../../images/i/overdue-icon-1.png) no-repeat right top;
    background-size: auto 100%;
}

.coupon-ul li.red-1 .title-money {
    float: left;
    font-size: 2.5 * 1.25rem;
    line-height: 3.5 * 1.25rem;
    color: #fe5b4a;
}

.coupon-ul li.red-1 .title-money-company {
    float: left;
    margin-top: 1.875 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #333333;
}

.coupon-ul li.red-1 .title-money-coupon {
    float: left;
    margin-top: 1.875 * 1.25rem;
    margin-left: .25 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #fe5b4a;
}

.coupon-ul li.red-1 .title-content {
    font-size: .75 * 1.25rem;
    color: #666666;
    line-height: 1.25 * 1.25rem;
    padding-top: .625 * 1.25rem;
    padding-right: 1.875 * 1.25rem;
    height: 2.5 * 1.25rem;
    box-sizing: content-box;
    padding-left: 7.375 * 1.25rem;
}

.coupon-ul li.red-1 .item-bottom {
    background: #fe5b4a url(../../images/i/fz-top.png) repeat-x top;
    background-size: auto .0625 * 1.25rem;
    overflow: hidden;
    height: 2.125 * 1.25rem;
}

.coupon-ul li.red-1 .item-bg {
    height: 2.125 * 1.25rem;
    background: url(../../images/i/fz-bottom.png) repeat-x bottom;
    background-size: auto .125 * 1.25rem;
    padding: 0 .625 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #fff;
    line-height: 2.125 * 1.25rem;
}

.coupon-ul li.red-1 .fl {
    float: right;
}

.coupon-ul li.red-1 .fr {
    float: right;
    font-size: .875 * 1.25rem;
}


/**/

.coupon-ul li.blue-1 .title-right {
    height: 3.5 * 1.25rem;
    padding-left: .625 * 1.25rem;
    background: url(../../images/i/overdue-icon-2.png) no-repeat right top;
    background-size: auto 100%;
}

.coupon-ul li.blue-1 .title-money {
    float: left;
    font-size: 2.5 * 1.25rem;
    line-height: 3.5 * 1.25rem;
    color: #40a2e1;
}

.coupon-ul li.blue-1 .title-money-company {
    float: left;
    margin-top: 2.125 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #333333;
}

.coupon-ul li.blue-1 .title-money-coupon {
    float: left;
    margin-top: 1.875 * 1.25rem;
    margin-left: .25 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #40a2e1;
}

.coupon-ul li.blue-1 .title-content {
    font-size: .75 * 1.25rem;
    color: #666666;
    line-height: 1.25 * 1.25rem;
    padding-top: .625 * 1.25rem;
    padding-right: 1.875 * 1.25rem;
    box-sizing: content-box;
    padding-left: 9.375 * 1.25rem;
}

.coupon-ul li.blue-1 .item-bottom {
    background: #40a2e1 url(../../images/i/fz-top2.png) repeat-x top;
    background-size: auto .0625 * 1.25rem;
    overflow: hidden;
    height: 2.125 * 1.25rem;
}

.coupon-ul li.blue-1 .item-bg {
    height: 2.125 * 1.25rem;
    background: url(../../images/i/fz-bottom2.png) repeat-x bottom;
    background-size: auto .125 * 1.25rem;
    padding: 0 .625 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #fff;
    line-height: 2.125 * 1.25rem;
}

.coupon-ul li.blue-1 .fl {
    float: right;
}

.coupon-ul li.blue-1 .fr {
    float: right;
    font-size: .875 * 1.25rem;
}


/**/

.coupon-ul li.orange-1 .title-right {
    height: 3.5 * 1.25rem;
    padding-left: .625 * 1.25rem;
    background: url(../../images/i/overdue-icon-3.png) no-repeat right top;
    background-size: auto 100%;
}

.coupon-ul li.orange-1 .title-money {
    float: left;
    font-size: 2.5 * 1.25rem;
    line-height: 3.5 * 1.25rem;
    color: #fe9d58;
}

.coupon-ul li.orange-1 .title-money-company {
    float: left;
    margin-top: 1.875 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #333333;
}

.coupon-ul li.orange-1 .title-money-coupon {
    float: left;
    margin-top: 1.875 * 1.25rem;
    margin-left: .25 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #fe9d58;
}

.coupon-ul li.orange-1 .title-content {
    font-size: .75 * 1.25rem;
    color: #666666;
    line-height: 1.25 * 1.25rem;
    padding-top: .625 * 1.25rem;
    padding-right: 1.875 * 1.25rem;
    height: 2.5 * 1.25rem;
    box-sizing: content-box;
    padding-left: 9.375 * 1.25rem;
}

.coupon-ul li.orange-1 .item-bottom {
    background: #fe9d58 url(../../images/i/fz-top3.png) repeat-x top;
    background-size: auto .0625 * 1.25rem;
    overflow: hidden;
    height: 2.125 * 1.25rem;
}

.coupon-ul li.orange-1 .item-bg {
    height: 2.125 * 1.25rem;
    background: url(../../images/i/fz-bottom3.png) repeat-x bottom;
    background-size: auto .125 * 1.25rem;
    padding: 0 .625 * 1.25rem;
    font-size: .75 * 1.25rem;
    color: #fff;
    line-height: 2.125 * 1.25rem;
}

.coupon-ul li.orange-1 .fl {
    float: right;
}

.coupon-ul li.orange-1 .fr {
    float: right;
    font-size: .875 * 1.25rem;
}

.icon-bg {
    background: none !important;
}

.dp-ul li {
    border-radius: 0.1875 * 1.25rem;
    background: #FFF;
    margin-top: 0.625 * 1.25rem;
    overflow: hidden;
}

.dp-ul li:after,
.store-top-font:after {
    display: block;
    content: " ";
    height: 0;
    clear: both;
    visibility: hidden;
}

.store-top-font {
    padding: 0.3125 * 1.25rem;
    border-bottom: 0.0625 * 1.25rem solid #f2f2f2;
}

.store-topimg {
    float: left;
    width: 7.5 * 1.25rem;
    border: 0.0625 * 1.25rem solid #cccccc;
    font-size: 0px;
}

.store-topimg img {
    width: 100%;
}

.store-pl {
    padding-left: 8.125 * 1.25rem;
}

.store-pl-title {
    line-height: 2 * 1.25rem;
    color: #333333;
    font-size: 1.25 * 1.25rem;
}

.store-pl-address {
    color: #999999;
}

.store-pl-label {
    height: 1.0625 * 1.25rem;
    line-height: 1.0625 * 1.25rem;
}

.store-pl-label span {
    float: left;
    display: inline-block;
    padding: 0 * 1.25rem 0.3125 * 1.25rem;
    margin-right: 0.3125 * 1.25rem;
    color: #fff;
    font-size: 0.75 * 1.25rem;
}

.bg-1 {
    background: #f75353;
}

.bg-2 {
    background: #53b0f6;
}

.bg-3 {
    background: #97d054;
}

.store-pl-address {
    height: 2.5 * 1.25rem;
    line-height: 1.25 * 1.25rem;
}

.store-bottom {
    height: 1.5 * 1.25rem;
    line-height: 1.5 * 1.25rem;
    font-size: 0.75 * 1.25rem;
    color: #333333;
}

.store-bottom-left {
    float: left;
    padding: 0 * 1.25rem 0.625 * 1.25rem;
    background: #97d054;
    color: #fff;
    margin-right: 0.625 * 1.25rem;
}


/**/

.characteristic-title {
    height: 2.75 * 1.25rem;
    background: #fff;
    text-align: center;
    line-height: 2.75 * 1.25rem;
    font-size: 1 * 1.25rem;
    color: #333333;
    position: relative;
}

.stroll-characteristic li {
    margin-top: 0.625 * 1.25rem;
    background: #fff;
}

.title-icon {
    float: left;
    width: 1.75 * 1.25rem;
    margin-right: 0.625 * 1.25rem;
}

.title-icon img {
    width: 100%;
}

.characteristic-item-title {
    border-bottom: 0.0625 * 1.25rem solid #e5e5e5;
    line-height: 1.75 * 1.25rem;
    box-sizing: content-box;
    padding: 0.375 * 1.25rem 0.625 * 1.25rem;
    color: #333333;
    font-size: 0.875 * 1.25rem;
}

.characteristic-item-title:after,
.characteristic-info:after {
    display: block;
    content: " ";
    height: 0;
    clear: both;
    visibility: hidden;
}

.characteristic-info {
    border-bottom: 0.0625 * 1.25rem solid #e5e5e5;
    padding: 0.3 * 1.25rem 0.625 * 1.25rem;
    color: #333333;
    font-size: 0.75 * 1.25rem;
    line-height: 1.125 * 1.25rem;
}

.fl-info {
    float: left;
}

.fr-info {
    padding-left: 3.75 * 1.25rem;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.page-control-area {
    /*height:5.3125 * 1.25rem;	*/
    position: fixed;
    /*bottom:0;*/
    bottom: -5.3125 * 1.25rem;
    height: 6.875 * 1.25rem;
    width: 100%;
    text-align: center;
    /*background-color:#3F9;*/
}

.progress-top {
    width: 100%;
    height: 1.5625 * 1.25rem;
    line-height: 1.5625 * 1.25rem;
    /* background:rgba(255,255,255,0);*/
}

.progress-num-body {
    display: inline-block;
    min-width: 2.375 * 1.25rem;
    height: 1.25 * 1.25rem;
    line-height: 1.25 * 1.25rem;
    font-size: .875 * 1.25rem;
    border-radius: .5 * 1.25rem;
    background: rgba(93, 109, 113, .8);
}

.progress-num {
    color: #FFF;
    padding-left: .625 * 1.25rem;
    padding-right: .625 * 1.25rem;
}

.progress-bar {
    display: block;
    margin: 0 auto;
    height: 2.5625 * 1.25rem;
    width: 100%;
    line-height: 2.5625 * 1.25rem;
    background: rgb(255, 255, 255);
    border-top: 0.0625px solid rgb(222, 222, 222);
}

.progress-bar-ul {
    position: relative;
    display: inline-block;
    width: 85%;
    height: .25 * 1.25rem;
    /*border:1px solid #03F;*/
}

.progress-bar-ul li {
    position: absolute;
}

.bar-bottom {
    width: 100%;
    height: .25 * 1.25rem;
    background: -webkit-linear-gradient(rgb(132, 132, 132), rgb(139, 139, 139));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgb(132, 132, 132), rgb(139, 139, 139));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgb(132, 132, 132), rgb(139, 139, 139));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(rgb(132, 132, 132), rgb(139, 139, 139));
    /* 标准的语法 */
    border-radius: .25 * 1.25rem;
    z-index: 1;
}

.bar-progress {
    width: 0;
    height: .175 * 1.25rem;
    margin-top: .0375 * 1.25rem;
    background-color: #F00;
    border-radius: .25 * 1.25rem;
    z-index: 2;
}

.bar-indicator {
    z-index: 3;
}

.indicator {
    display: block;
    width: 1.125 * 1.25rem;
    height: 1.125 * 1.25rem;
    line-height: 1.125 * 1.25rem;
    vertical-align: middle;
    margin-top: -0.4375 * 1.25rem;
    border-radius: 50%;
    border: 0.0625 * 1.25rem solid #F00;
}

.indicator-circle {
    display: inline-block;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: #F00;
}

.page-button {
    width: 100%;
    height: 2.75 * 1.25rem;
    line-height: 2.75 * 1.25rem;
    background: rgb(238, 238, 238);
}

.page-button-ul {
    display: inline-block;
    list-style: none;
    width: 90%;
    height: 2.25 * 1.25rem;
    vertical-align: middle;
}

.page-button-ul li {
    height: 2.25 * 1.25rem;
    line-height: 2.25 * 1.25rem;
}

.page-button-ul li:nth-child(1) {
    width: 10%;
    float: left;
}

.page-button-ul li:nth-child(2) {
    width: 80%;
    font-size: 1 * 1.25rem;
    float: left;
}

.page-button-ul li:nth-child(3) {
    width: 10%;
    float: right;
}

.styleleft {
    display: inline-block;
    vertical-align: middle;
    width: 1 * 1.25rem;
    height: 1 * 1.25rem;
    border-left: .0625 * 1.25rem solid rgb(153, 153, 153);
    border-bottom: .0625 * 1.25rem solid rgb(153, 153, 153);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.styleright {
    display: inline-block;
    vertical-align: middle;
    width: 1 * 1.25rem;
    height: 1 * 1.25rem;
    border-right: .0625 * 1.25rem solid rgb(153, 153, 153);
    border-bottom: .0625 * 1.25rem solid rgb(153, 153, 153);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ov-h div {
    height: 2.5 * 1.25rem;
    overflow: hidden;
}
