
/**
 * Bar (Headers and Footers)
 * --------------------------------------------------
 */

.bar {
  @include user-select(none);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-bar;

  @include box-sizing(border-box);
  padding: 0 $bar-padding-portrait;

  width: 100%;
  height: $bar-height;
  border-width: 0;
  border-style: solid;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $bar-default-border;

  background-color: $bar-default-bg;

  /* border-width: 1px will actually create 2 device pixels on retina */
  /* this nifty trick sets an actual 1px border on hi-res displays */
  background-size: 0;
  @media (min--moz-device-pixel-ratio: 1.5),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) {
    border: none;
    background-image: linear-gradient(0deg, $bar-default-border, $bar-default-border 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }

  // bar light类型 后续继续添加
  &.bar-light {
    @include bar-style($bar-light-bg, $bar-light-border, $bar-light-text);
  }

  // Title inside of a bar is centered
  .title {
    position: absolute;
    left: 10%;
    right: 10%;
    height: 100%;

    min-width: 1.875rem;
    max-width: 80%;
    overflow: hidden;

    text-align: center;

    // Go into ellipsis if too small
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: $bar-title-font-size;
    font-weight: $headings-font-weight;

    &.title-left {
      text-align: left;
    }
    &.title-right {
      text-align: right;
    }
  }

  .title a {
    color: inherit;
  }

  .button {
    padding: 0 $bar-button-padding;
    min-width: initial;
    font-size: $bar-button-font-size;
    border: 0;
    background-color: transparent;
    .iconfont{
      font-size: $bar-button-icon-size;
    }
  }
}

.bar-header,.bar-footer{
  @extend %Grid;
  @extend %Grid-middle;
  @extend %Grid-between;
  .bar-left,.bar-right{
    font-size: 0;
  }
  .bar-left,.bar-right,.button{
    @extend %Grid;
    @extend %Grid-middle;
    height: 100%;
  }
  .title{
    @extend %Grid;
    @extend %Grid-center;
    @extend %Grid-middle;
  }
  .bar-right{
    @extend %Grid-left;
  }
  .bar-right{
    @extend %Grid-right;
  }

}

// Default styles for buttons inside of styled bars  后续继续添加
.bar-light {
  .button{

  }
}
@include iphone5(){
  .bar{
    .title{
      font-size: $bar-title-font-size-iphone5;
    }
    .button{
      font-size: $bar-button-font-size-iphone5;
    }
  }
}
@include iphone6p(){
  .bar{
    .title{
      font-size: $bar-title-font-size-iphone6p;
    }
    .button{
      font-size: $bar-button-font-size-iphone6p;
    }
  }
}
@include ipad(){
  .bar{
    .title{
      font-size: $bar-title-font-size-ipad;
    }
    .button{
      font-size: $bar-button-font-size-ipad;
    }
  }
}
@include screen(414px, 640px){
  .bar{
    .title{
      font-size: $bar-title-font-size-ipad;
    }
    .button{
      font-size: $bar-button-font-size-ipad;
    }
  }
}
@include min-screen(768px){
  .bar{
    .title{
      font-size: $bar-title-font-size-ipad;
    }
    .button{
      font-size: $bar-button-font-size-ipad;
    }
  }
}

