@charset "UTF-8";
/* -------------------------------------------------
 * base 样式
 * -------------------------------------------------
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

img {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18.2px;
}

h3 {
  font-size: 16.38px;
}

h4 {
  font-size: 14px;
}

h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #08c;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

/* -------------------------------------------------
 * components 样式
 * -------------------------------------------------
*/
.preloader {
  width: 20px;
  height: 20px;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
      transform-origin: 50%;
  -webkit-animation: preloader-spin 1s steps(12, end) infinite;
  animation: preloader-spin 1s steps(12, end) infinite;
}
.preloader:after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='#6c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='#l' opacity='.27'/><use xlink:href='#l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='#l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='#l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='#l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='#l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='#l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='#l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

@-webkit-keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------
 * main 样式
 * -------------------------------------------------
*/
html {
  font-size: 16px;
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 13.65333px !important;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 15.36px !important;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 17.06667px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 17.664px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 20.48px !important;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 32.768px !important;
  }
}
/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/
.btn, .formbtn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 0 none;
}

.blockbtn {
  position: relative;
  display: block;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

.btn, .blockbtn {
  padding: 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.btn {
  color: #333;
  background-color: #e6e6e6;
  border-radius: 3px;
}
.btn:active {
  background-color: #d9d9d9;
  color: #333;
}

.formbtn {
  padding: 0 0.5rem;
  font-size: 0.875rem;
  height: 1.75rem;
  color: #333;
  background-color: #e6e6e6;
  border-radius: 3px;
}
.formbtn:active {
  background-color: #d9d9d9;
  color: #333;
}

.blockbtn {
  color: #333;
  background-color: #e6e6e6;
  border-radius: 3px;
}
.blockbtn:active {
  background-color: #d9d9d9;
  color: #333;
}

.btn-small {
  padding: 0 0.3125rem;
  font-size: 0.75rem;
  line-height: 1.3125rem;
}

.formbtn-small {
  padding: 0 0.3125rem;
  font-size: 0.75rem;
  height: 1.3125rem;
}

.btn-middle {
  padding: 0 0.3125rem;
  font-size: 1rem;
  line-height: 2.125rem;
}

.formbtn-middle {
  padding: 0 0.3125rem;
  font-size: 1rem;
  height: 2.125rem;
}

.btn-large {
  padding: 0 0.3125rem;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.formbtn-large {
  padding: 0 0.3125rem;
  font-size: 1.5rem;
  height: 2.625rem;
}

.btn-primary {
  color: #fff;
  background-color: #0078E7;
}
.btn-primary:active {
  background-color: #006bce;
  color: #fff;
}

.outline-primary {
  color: #fff;
  background-color: #0078E7;
  border: 1px solid #0078E7;
  background-color: transparent;
  color: #262626;
}
.outline-primary:active {
  background-color: #006bce;
  color: #fff;
}

.btn-black {
  color: #fff;
  background-color: #000;
}
.btn-black:active {
  background-color: black;
  color: #fff;
}

.outline-black {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  background-color: transparent;
  color: #262626;
}
.outline-black:active {
  background-color: black;
  color: #fff;
}

.btn-gray-darker {
  color: #fff;
  background-color: #333;
}
.btn-gray-darker:active {
  background-color: #262626;
  color: #fff;
}

.outline-gray-darker {
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
  background-color: transparent;
  color: #262626;
}
.outline-gray-darker:active {
  background-color: #262626;
  color: #fff;
}

.btn-gray-dark {
  color: #fff;
  background-color: #999;
}
.btn-gray-dark:active {
  background-color: #8c8c8c;
  color: #fff;
}

.outline-gray-dark {
  color: #fff;
  background-color: #999;
  border: 1px solid #999;
  background-color: transparent;
  color: #262626;
}
.outline-gray-dark:active {
  background-color: #8c8c8c;
  color: #fff;
}

.btn-gray {
  color: #fff;
  background-color: #ccc;
}
.btn-gray:active {
  background-color: #bfbfbf;
  color: #fff;
}

.outline-gray {
  color: #fff;
  background-color: #ccc;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #262626;
}
.outline-gray:active {
  background-color: #bfbfbf;
  color: #fff;
}

.btn-gray-light {
  color: #333;
  background-color: #f5f5f5;
}
.btn-gray-light:active {
  background-color: #e8e8e8;
  color: #333;
}

.outline-gray-light {
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  background-color: transparent;
  color: black;
}
.outline-gray-light:active {
  background-color: #e8e8e8;
  color: #333;
}

.btn-red {
  color: #fff;
  background-color: #cc3300;
}
.btn-red:active {
  background-color: #b32d00;
  color: #fff;
}

.outline-red {
  color: #fff;
  background-color: #cc3300;
  border: 1px solid #cc3300;
  background-color: transparent;
  color: #262626;
}
.outline-red:active {
  background-color: #b32d00;
  color: #fff;
}

.btn-blue {
  color: #fff;
  background-color: #00A3CF;
}
.btn-blue:active {
  background-color: #008fb6;
  color: #fff;
}

.outline-blue {
  color: #fff;
  background-color: #00A3CF;
  border: 1px solid #00A3CF;
  background-color: transparent;
  color: #262626;
}
.outline-blue:active {
  background-color: #008fb6;
  color: #fff;
}

.btn-blue-dark {
  color: #fff;
  background-color: #0064cd;
}
.btn-blue-dark:active {
  background-color: #0058b4;
  color: #fff;
}

.outline-blue-dark {
  color: #fff;
  background-color: #0064cd;
  border: 1px solid #0064cd;
  background-color: transparent;
  color: #262626;
}
.outline-blue-dark:active {
  background-color: #0058b4;
  color: #fff;
}

.btn-orange {
  color: #fff;
  background-color: #F47837;
}
.btn-orange:active {
  background-color: #f3681f;
  color: #fff;
}

.outline-orange {
  color: #fff;
  background-color: #F47837;
  border: 1px solid #F47837;
  background-color: transparent;
  color: #262626;
}
.outline-orange:active {
  background-color: #f3681f;
  color: #fff;
}

.btn-green {
  color: #fff;
  background-color: #51B148;
}
.btn-green:active {
  background-color: #499f41;
  color: #fff;
}

.outline-green {
  color: #fff;
  background-color: #51B148;
  border: 1px solid #51B148;
  background-color: transparent;
  color: #262626;
}
.outline-green:active {
  background-color: #499f41;
  color: #fff;
}

.btn-yellow {
  color: #fff;
  background-color: #ffc40d;
}
.btn-yellow:active {
  background-color: #f3b700;
  color: #fff;
}

.outline-yellow {
  color: #fff;
  background-color: #ffc40d;
  border: 1px solid #ffc40d;
  background-color: transparent;
  color: #262626;
}
.outline-yellow:active {
  background-color: #f3b700;
  color: #fff;
}

.btn-pink {
  color: #fff;
  background-color: #c3325f;
}
.btn-pink:active {
  background-color: #af2d55;
  color: #fff;
}

.outline-pink {
  color: #fff;
  background-color: #c3325f;
  border: 1px solid #c3325f;
  background-color: transparent;
  color: #262626;
}
.outline-pink:active {
  background-color: #af2d55;
  color: #fff;
}

.btn-purple {
  color: #fff;
  background-color: #7a43b6;
}
.btn-purple:active {
  background-color: #6e3ca3;
  color: #fff;
}

.outline-purple {
  color: #fff;
  background-color: #7a43b6;
  border: 1px solid #7a43b6;
  background-color: transparent;
  color: #262626;
}
.outline-purple:active {
  background-color: #6e3ca3;
  color: #fff;
}

.content {
  padding: 0.625rem 0.9375rem;
}

.box {
  position: relative;
  margin: 0 auto;
}
.box:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .box:after {
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .box:after {
    -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .box:before {
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .box:before {
    -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.box .formbtn, .box .btn, .box .blockbtn {
  margin: 10px 0;
}
